apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-v3-deployment
  namespace: test
  labels:
    app: api-v3
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        image: nizam799/django:testV2
        ports:
        - containerPort: 8000
        env:
        - name: IPADD
          value: 20.253.58.116
